.zala/
.ipynb_checkpoints/
requirements.txt
SQL/bd/
SQL/__pycache__/
SQL/PySpark/__pycache__/
.idea/
SQL/sql/__pycache__/
tests/__pycache__/
web_scraping/dataset/
dataset/
certification/output/
Python/certification/output/
Python/tests/__pycache__/
Python/SQL/sql/__pycache__/
Python/SQL/PySpark/__pycache__/
ML/Linear_Regression/linear_regression_2.ipynb
