.zala/
.ipynb_checkpoints/
requirements.txt
SQL/bd/
SQL/__pycache__/
SQL/PySpark/__pycache__/
.idea/
SQL/sql/__pycache__/
tests/__pycache__/
web_scraping/dataset/
dataset/
certification/output/
Python/certification/output/
Python/tests/__pycache__/
Python/SQL/sql/__pycache__/
Python/SQL/PySpark/__pycache__/
ML/Linear_Regression/linear_regression_2.ipynb
ML/Linear_Regression/submission.csv
ML/Polinom_regression/polynomial_regression_weights.pth
ML/Polinom_regression/polynomial_model_full.pth
ML/4_SVM/smoking_data/
ML/regularisation/2submission.csv
ML/Polinom_regression/polinom_regression copy.ipynb
ML/5_SVM_regress/submission.csv
ML/9_RCA/train.csv
ML/11_Hierarchy/train.csv
ML/10_k_means/train.csv
ML/10_k_means/train_clustered.csv
ML/13_gradient_1/dataset_smoking/
ML/12_Random_forest/dataset_smoking/
